In [1]:
from google.colab import files
uploaded = files.upload()

Saving Kenya Customers.csv to Kenya Customers.csv
Saving Kenya Deliveries.csv to Kenya Deliveries.csv
Saving Kenya Orders.csv to Kenya Orders.csv
Saving Nigeria Customers.csv to Nigeria Customers.csv
Saving Nigeria Deliveries.csv to Nigeria Deliveries.csv
Saving Nigeria Orders.csv to Nigeria Orders.csv

In [2]:
!ls

'Kenya Customers.csv'	'Nigeria Customers.csv'    sample_data
'Kenya Deliveries.csv'	'Nigeria Deliveries.csv'
'Kenya Orders.csv'	'Nigeria Orders.csv'

In [3]:
import pandas as pd
kenya_customers = pd.read_csv('Kenya Customers.csv')
nigeria_customers = pd.read_csv('Nigeria Customers.csv')
kenya_deliveries = pd.read_csv('Kenya Deliveries.csv')
nigeria_deliveries = pd.read_csv('Nigeria Deliveries.csv')
kenya_orders = pd.read_csv('Kenya Orders.csv')
nigeria_orders = pd.read_csv('Nigeria Orders.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
kenya_customers.rename(columns={"Number of employees": "Number of Employees"}, inplace=True)
customers = pd.concat([kenya_customers, nigeria_customers], ignore_index=True)

In [5]:
deliveries = pd.concat([kenya_deliveries, nigeria_deliveries], ignore_index=True)

In [6]:
orders = pd.concat([kenya_orders, nigeria_orders], ignore_index=True)

In [7]:
#Clean Orders
list(orders.columns)

['Order ID',
 'Order Status',
 'Category Name',
 'SKU',
 'Customization Group',
 'Customization Option',
 'Quantity',
 'Unit Price',
 'Cost Price',
 'Total Cost Price',
 'Total Price',
 'Order Total',
 'Sub Total',
 'Tax',
 'Delivery Charge',
 'Tip',
 'Discount',
 'Remaining Balance',
 'Payment Method',
 'Additional Charge',
 'Taxable Amount',
 'Transaction ID',
 'Currency Symbol',
 'Transaction Status',
 'Promo Code',
 'Customer ID',
 'Merchant ID',
 'Store Name',
 'Pickup Address',
 'Description',
 'Distance (in km)',
 'Order Time',
 'Pickup Time',
 'Delivery Time',
 'Ratings',
 'Reviews',
 'Merchant Earning',
 'Commission Amount',
 'Commission Payout Status',
 'Order Preparation Time',
 'Debt Amount',
 'Redeemed Loyalty Points',
 'Consumed Loyalty Points',
 'Cancellation Reason',
 'Flat Discount',
 'Checkout Template Name',
 'Checkout Template Value']

In [8]:
#remove in orders
orders = orders.drop_duplicates()

In [9]:
#Convert Naira to Ksh
orders.loc[orders["Currency Symbol"] == "₦",["Sub Total"]] = (orders["Sub Total"]/0.27)
orders.loc[orders["Currency Symbol"] == "₦",["Currency Symbol"]] = "Ksh"

In [10]:
#Remove unnecessary columns from orders
orders = orders[orders['Order Status'] == "ORDERED"]
drop_columns = ['Unit Price','Cost Price','Total Cost Price','Total Price','Order Total','Redeemed Loyalty Points','Flat Discount','Consumed Loyalty Points','Distance (in km)','Order Time','Pickup Time','Delivery Time','Order Status','SKU','Customization Group','Customization Option','Tax', 'Delivery Charge','Tip','Discount','Remaining Balance','Payment Method','Additional Charge','Taxable Amount','Transaction ID','Transaction Status','Promo Code','Pickup Address','Description','Ratings','Reviews','Merchant Earning','Commission Amount','Commission Payout Status','Order Preparation Time','Debt Amount','Consumed Loyalty Points','Cancellation Reason','Checkout Template Name','Checkout Template Value', 'Merchant ID','Store Name','Pickup Address']
orders_reduced_columns = orders.drop(drop_columns, axis=1)
orders_reduced_columns.tail()

       Order ID      Category Name  ...  Currency Symbol  Customer ID
13251  10716959      Flour & Sugar  ...              Ksh      4487777
13257  10716048      Flour & Sugar  ...              Ksh      4161425
13266  10702742      Flour & Sugar  ...              Ksh      4514325
13271  10701034  Cooking Fat & Oil  ...              Ksh      4925753
13293  10683276      Flour & Sugar  ...              Ksh      4512373

[5 rows x 6 columns]

In [11]:
grouped_orders = orders_reduced_columns.groupby(by="Order ID").sum()
grouped_orders.head()

          Quantity     Sub Total  Customer ID
Order ID
10683276         2  1.544444e+05      4512373
10701034         2  3.111111e+04      4925753
10702742        20  1.544444e+06      4514325
10716048         1  7.759259e+04      4161425
10716959         2  1.551852e+05      4487777

In [12]:
#Clean Deliveries

In [13]:
#Deliveries columns
list(deliveries.columns)

['Task_ID',
 'Order_ID',
 'Relationship',
 'Team_Name',
 'Task_Type',
 'Notes',
 'Agent_ID',
 'Agent_Name',
 'Distance(m)',
 'Total_Time_Taken(min)',
 'Pick_up_From',
 'Start_Before',
 'Complete_Before',
 'Completion_Time',
 'Task_Status',
 'Ref_Images',
 'Rating',
 'Review',
 'Latitude',
 'Longitude',
 'Tags',
 'Promo_Applied',
 'Custom_Template_ID',
 'Task_Details_QTY',
 'Task_Details_AMOUNT',
 'Special_Instructions',
 'Tip',
 'Delivery_Charges',
 'Discount',
 'Subtotal',
 'Payment_Type',
 'Task_Category',
 'Earning',
 'Pricing',
 'Unnamed: 34',
 'Unnamed: 35']

In [14]:
#Create an Order ID column from  Column_ID
deliveries["Order ID"] = deliveries["Order_ID"].apply(lambda x: x.split(",")[0].split("-")[1])

In [19]:
#Drop unnecessary columns from deliveries
drop_columns_deliveries = [
                            'Task_ID',
                            'Order_ID',
                            'Relationship',
                            'Team_Name',
                            'Task_Type',
                            'Notes',
                            'Agent_ID',
                            'Agent_Name',
                            'Distance(m)',
                            'Total_Time_Taken(min)',
                            'Pick_up_From',
                            'Start_Before',
                            'Complete_Before',
                            'Completion_Time',
                            'Task_Status',
                            'Ref_Images',
                            'Rating',
                            'Review',
                            'Tags',
                            'Promo_Applied',
                            'Custom_Template_ID',
                            'Special_Instructions',
                            'Tip',
                            'Delivery_Charges',
                            'Payment_Type',
                            'Task_Category',
                            'Earning',
                            'Pricing',
                            'Unnamed: 34',
                            'Unnamed: 35'
]

deliveries_reduced_columns = deliveries.drop(drop_columns_deliveries, axis=1)

In [20]:
#Drop duplicates in deliveries
deliveries_reduced_columns = deliveries_reduced_columns.drop_duplicates(ignore_index=True)

In [26]:
# deliveries_reduced_columns['Subtotal'].map(lambda x: 0 if x == "-" 0 elif x == np.nan else int(x))
deliveries_reduced_columns.shape

(52731, 7)

In [27]:
#Clean customers
customers.head()

   Customer ID  ... Upload restuarant location
0      3144837  ...                        NaN
1      3174590  ...                        NaN
2      3181998  ...                        NaN
3      3191244  ...                        NaN
4      3274222  ...                        NaN

[5 rows x 9 columns]

In [28]:
list(customers.columns)

['Customer ID',
 'Last Used Platform',
 'Is Blocked',
 'Created At',
 'Language',
 'Outstanding Amount',
 'Loyalty Points',
 'Number of Employees',
 'Upload restuarant location']

In [31]:
#Drop unwanted customer columns
drop_columns_customers = [
                          'Last Used Platform',
                          'Language',
                          'Language',
                          'Outstanding Amount',
                          'Loyalty Points',
                          'Number of Employees',
                          'Upload restuarant location'
                          ]
customers_reduced_columns =customers.drop(drop_columns_customers, axis=1 )

In [32]:
#Consider only unblocked customers for the analysis
customers[customers['Is Blocked']!= 0].count()

Customer ID                   97
Last Used Platform            97
Is Blocked                    97
Created At                    97
Language                      97
Outstanding Amount            97
Loyalty Points                97
Number of Employees           78
Upload restuarant location     1
dtype: int64

In [33]:
customers_reduced_columns.head()

   Customer ID  Is Blocked                Created At
0      3144837           0  2021-03-15T17:13:19.000Z
1      3174590           0  2021-03-20T14:15:11.000Z
2      3181998           0  2021-03-21T15:36:51.000Z
3      3191244           0  2021-03-23T08:54:00.000Z
4      3274222           0  2021-04-06T13:52:39.000Z

In [34]:
#Remove duplicates
customers_reduced_columns.drop_duplicates(ignore_index=True, inplace=True)

In [35]:
#Creating the unified dataset
#orders_reduced_columns,customers_reduced_columns, deliveries_reduced_column
df1 = pd.merge(customers_reduced_columns, orders_reduced_columns , on=['Customer ID','Customer ID'])

In [49]:
# df2 =  pd.merge(df1, deliveries_reduced_columns, on="Order ID")
deliveries_reduced_columns = deliveries_reduced_columns["Order ID"].map(lambda x : 0 if x == "" else int(x))
df2 =  pd.merge(df1, deliveries_reduced_columns, on="Order ID")

In [51]:
overall_df = df2

In [52]:
overall_df.head()

   Customer ID  Is Blocked  ... Sub Total  Currency Symbol
0      3647723           0  ...    4755.0              KSh
1      3647723           0  ...    4755.0              KSh
2      3647723           0  ...    4755.0              KSh
3      3647723           0  ...    4755.0              KSh
4      3647723           0  ...    4755.0              KSh

[5 rows x 8 columns]